<header>
    <app-floating-header></app-floating-header>
    <div class="navigation-wrap start-header start-style">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light p-sm-0 p-md-0 p-lg-0" >
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button
                  class="navbar-toggler btn_sec"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="fa fa-close"></span>
                </button>
               <app-main-navigation></app-main-navigation>
              </div>
            </nav>
          </div>
        </div>
        <div class="row logo_container">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <img src="assets/images/logo.png" alt="NoBodysFool" class="mainlogo" />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 align-self-center">
            <app-header-search-form></app-header-search-form>
          </div>
        </div>
      </div>
    </div>
  </header>
  