<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 my-4">
          <h5>ABOUT US</h5>
          <div class="row">
            <div class="col-12">
              <app-about-us-footer></app-about-us-footer>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 my-4">
          <h5>QUICK LINKS</h5>
          <div class="row">
            <div class="col-12">
              <app-quick-links-footer></app-quick-links-footer>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 my-4">
          <h5>LATEST BLOG POSTS</h5>
          <div class="row">
            <div class="col-12">
                <app-blog-footer></app-blog-footer>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 my-4">
          <h5>CONTACT US</h5>
          <div class="row">
            <div class="col-12">
             <app-contact-form-footer></app-contact-form-footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  