<form>
    <fieldset class="form-group">
      <input
        type="text"
        class="form-control cstm-input"
        id=""
        placeholder="Name"
        spellcheck="false"
        data-ms-editor="true"
      />
    </fieldset>
    <fieldset class="form-group">
      <input
        type="email"
        class="form-control cstm-input"
        id=""
        placeholder="Email"
      />
    </fieldset>
    <fieldset class="form-group">
      <input
        type="text"
        class="form-control cstm-input"
        id=""
        placeholder="Subject"
        spellcheck="false"
        data-ms-editor="true"
      />
    </fieldset>
    <fieldset class="form-group">
      <textarea
        class="form-control cstm-input"
        id=""
        placeholder="Message"
        spellcheck="false"
        data-ms-editor="true"
      ></textarea>
    </fieldset>
    <fieldset class="form-group text-xs-right">
      <button
        type="button"
        class="btn btn-secondary-outline btn-small"
      >
        SUBMIT
      </button>
    </fieldset>
  </form>