
  <div class="container-fluid white_bg">
    <div class="justify-content-center">
      <div class="container contact_strip">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12 align-self-center">
            <h1>Lorem ipsum dolor sit amet elit !</h1>
            <p>Why not try our services today, you won’t regret your choice !</p>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12 align-self-center">
            <form>
              <button
                class="btn btn-small btn-primary btn-blue btn-contact"
                value="Contact Us Today"
              >
                CONTACT US TODAY
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>