<div class="floating-header" [ngClass]="showBar ? 'showin' : 'out'">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12 align-self-center">
          <app-header-links></app-header-links>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12 align-self-center">
          <app-header-social></app-header-social>

        </div>
        <a class="slide_btn" (click)="toggleBar()"> {{showBar ? '-' : '+'}}</a>
        
      </div>
    </div>
  </div>